.title {
    font-weight: bold;
}
  
.container {
    display: flex;
    align-items: center;
    justify-content: left;
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding: 5px;
    margin: 5px;
}
  
.idImage {
    display:flex;
    padding: 20px;
  }

.rgbText {
    text-align: center;
}

.lastContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding: 5px;
    margin: 5px;
}



